<div class="container mt-5 mb-5">
  <h1 class="text-center">Profile page</h1>
  <div class="row">
    <div class="col-4">
      <% if @user.image.attached? %>
        <%= cl_image_tag @user.image.key, :width=>150, :crop=>"fill" , class: "rounded-circle" %>
      <% else %>
        <%= image_tag "avatar.jpg", class: "rounded-circle", style: "width: 50%"%>
      <% end %>
      <h2> <%= @user.name %> </h2>
    </div>
    <div class="col-4">
      <h3>Followers</h3>
      <% @user.followers.each do |f| %>
        <%= f.name %>
        <br>
      <% end %>
    </div>
    <div class="col-4">
      <h3>Following</h3>
      <% @user.follows.each do |f| %>
        <p><%= f.name %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <% following = @user.followings.find_by(user_id: @user.id, follower_id: current_user.id) %>
      <% if @user != current_user %>
        <% if following.nil? %>
          <%= button_to "Follow", followings_path, params: { user_id: @user.id }, method: :post, remote: true, class: "btn btn-outline-primary mt-1 form-control" %>
        <% else %>
          <%= button_to "Unfollow", following_path(following), method: :delete, params: { user_id: @user.id }, class: "btn btn-outline-danger mt-1 form-control" %>
        <% end %>
      <% else %>
        <%= link_to 'New Post', new_post_path, class: 'btn btn-success form-control' %>
      <% end %>
    </div>
  </div>
</div>
<% @posts.each do |post| %>
  <%= render partial: "posts/post",  object: post %>
<% end %>
