<div id="carouselExampleControls-<%=post.id%>" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%# <img class="d-block w-100" src="..." alt="First slide"> %>
      <%= cl_image_tag post.images.first.key, class: "card-img-top" %>
    </div>
    <% post.images.each_with_index do |image, i| %>
      <% if i > 0 %>
        <div class="carousel-item">
          <%= cl_image_tag post.images[i].key, class: "card-img-top" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls-<%=post.id%>" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls-<%=post.id%>" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
