<div class="container">
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div class="alert alert-danger">
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <%= form.label :caption, "Caption"%> <br>
      <%= form.text_area :caption, class: "form-control" %> <br>
    </div>
    <% if ["new", "create"].include? params['action']%>
      <div class="form-group">
        <%= form.label :images, "Images"%> <br>
        <%= form.file_field :images, multiple: true, required: true %>
      </div>
    <% end %>
    <div class="actions">
      <%= form.submit class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
